<!DOCTYPE html>
<html>
<head>
    <title>青春點點點</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="geo.country" content="Taiwan" />
    <meta name="geo.placename" content="Taipei"/>
    <meta name="rating" content="general"/>
    <meta name="author" content="chris80072">
    <meta name="copyright" content="chris80072" />
    <meta name="description" content="midnight radio show">
    <meta name="keyword" content="青春點點點,YoungDotx3,Young dotdotdot,歐馬克,吳瑪麗,吳仲強">
    <meta name="robots" content="all">
    <meta itemprop="name" content="青春點點點" />
    <meta itemprop="image" content="" />
    <meta itemprop="description" content="midnight radio show" />
    <meta property="og:site_name" content="Young dotdotdot">
    <meta property="og:title" content="青春點點點">
    <meta property="og:type" content="article">
    <meta property="og:description" content="midnight radio show">
    <meta property="og:url" content="http://www.xn--qivp80iwzeaa.tw/" />
    <meta property="og:image" content="" />

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/home.js"></script>
    <link href="~/Content/reset.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/home.css" rel="stylesheet" />
</head>
<body class="is-ready">
    <div id="wrapper">
        <div id="main">
            <div class="inner">
                <div id="image-cover">
                    <img src="~/Images/image01.jpg" alt="">
                </div>
                <h1 id="text-title">青春點點點</h1>
                <hr id="divider">
                <p id="text-host">歐馬克/吳瑪麗/吳仲強</p>
                <ul id="icons">
                    <li><a class="icon-fb" href="https://www.facebook.com/OrMARC" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a class="icon-fb" href="https://www.facebook.com/maryinthetower/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a class="icon-fb" href="https://www.facebook.com/hankwuwuwu/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                </ul>
                <ul id="ul-buttons">
                    <li>@Html.ActionLink("Enter", "Intro", "Home", new { area = "" }, new { @class = "button-enter" })</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>