@{
    ViewBag.Title = "首頁";
}

<style type="text/css">
    .cd-fixed-bg {
        min-height: 100%;
        margin: auto;
        /*background-size: cover;*/
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;

        /* Set a specific height */
        min-height: 1000px; 
    }
 
    .cd-fixed-bg.cd-bg-1 {
        background-image: url('https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/10352189_712835155442829_7554597432676692854_n.jpg?oh=fe9e369020ee00de12874ba52345d23c&oe=58B6B3F0');
    }
    .cd-fixed-bg.cd-bg-2 {
        background-image: url('../../Content/Image/upup_welcome.jpg');
        background-color:#77CFF0;
        min-height: 500px; 
    }
    .cd-fixed-bg.cd-bg-3 {
        background-image: url('https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/11412289_894051077321235_8156494063008736027_n.jpg?oh=83aeb1b4146e489f129262d8a56ac967&oe=58F745E4');
    }
</style>

<main>
    <div class="cd-fixed-bg cd-bg-1"></div>
    <div class="cd-fixed-bg cd-bg-2"></div>
    <div class="cd-fixed-bg cd-bg-3"></div>
</main>