@{
    ViewBag.Title = "簡介";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
<meta name="description" content="young">
<meta property="og:site_name" content="Youngdot">
<meta property="og:title" content="Youngdot">
<meta property="og:type" content="article">
<meta property="og:description" content="young">
<link href="https://fonts.googleapis.com/css?family=Pacifico:400%7CInconsolata:400" rel="stylesheet" type="text/css">
<link href="~/Content/intro.css" rel="stylesheet" />
<div>
    <div id="wrapper">
        <div id="main">
            <div class="inner">
                <h1 id="text-title">Young.Dot</h1>
                <p id="text-sub"><span>午夜</span><br> <span>用幽默感紓解一整天的...</span></p>
                <p id="text-description">
                    <span>青春點點點 每週一到週五晚上12點至2點 / 週日晚上22點至1點 </span><br>
                    <span>於飛碟電台 FM 92.1 播送</span><br>
                    <span>兼具閒聊漫談、插科打諢、怪力亂神、理性知識的玄妙節目 </span><br>
                    <span>給你深夜裡的陪伴，最新鮮的流行資訊，以及微微上揚的嘴角</span><br>
                    <span>現在就點點這個網站，成為這個瘋狂節目的一份子吧!!!</span>
                </p>
            </div>
        </div>
    </div>
</div>
