body {
    overflow:hidden;
}
#calendar {
    margin-bottom: 20px;
    max-width: 1000px;
}
#calendar .fc-day-grid-container {
    overflow-y: hidden !important;
}
.textarea-content {
    resize: none;
}
.modal-body {
    background-color: #E8F4FB;
    border-radius: 5px;
}
.glyphicon {
    font-size: 24px;
}
.btn-cancel, .btn-send {
    float: right;
    margin-left: 15px;
}
.colorOption {
    margin: 0 15px;
    width: 93%;
}
.dropdown-option {
    margin: 5px;
    height: 35px;
    cursor: pointer;
    border-radius: 4px;
}
.text-select-color {
    float: left;
    margin-left: 13px;
    color: #999999;
}
#createDate {
    color: #999999;
}