*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 18pt;
}

body {
    min-width: 320px;
    min-height: 100vh;
    line-height: 1.0;
    word-wrap: break-word;
    overflow-x: hidden;
}

body:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-image: url('../../Images/background.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: scroll;
    background-color: #FFFFFF;
}

#wrapper {
    -webkit-overflow-scrolling: touch;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    z-index: 2;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
}

#main {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    position: relative;
    max-width: 100%;
    z-index: 1;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0.375rem 0.375rem 0.375rem 0.375rem;
    -moz-transition: opacity 1s ease 0s, -moz-transform 1s ease 0s;
    -webkit-transition: opacity 1s ease 0s, -webkit-transform 1s ease 0s;
    -ms-transition: opacity 1s ease 0s, -ms-transform 1s ease 0s;
    transition: opacity 1s ease 0s, transform 1s ease 0s;
    -moz-transform: perspective(1000px) rotateX(0deg);
    -webkit-transform: perspective(1000px) rotateX(0deg);
    -ms-transform: perspective(1000px) rotateX(0deg);
    transform: perspective(1000px) rotateX(0deg);
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transform: rotateX(-50deg);
}

.inner {
    overflow-x: hidden;
    width: 23rem;
    max-width: 100%;
    padding: 3.125rem 2.5rem;
}

.inner > * {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#main > .inner > :first-child {
    margin-top: 0 !important;
}

#main > .inner > :last-child {
    margin-bottom: 0 !important;
}

#image-cover {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    display: block;
}

#image-cover {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    display: block;
}

    #image-cover img {
        width: 100%;
        max-width: 100%;
        display: inline-block;
        width: 7rem;
        border-radius: 100%;
    }

#text-title {
    text-transform: uppercase;
    color: #313F47;
    font-family: 'Source Sans Pro';
    letter-spacing: 0.4rem;
    width: calc(100% + 0.4rem);
    font-size: 1.5em;
    line-height: 1.5;
    font-weight: 300;
}

#text-host {
    text-transform: uppercase;
    color: #313F47;
    font-family: 'Source Sans Pro';
    letter-spacing: 0.225rem;
    width: calc(100% + 0.225rem);
    font-size: 0.75em;
    line-height: 1.875;
    font-weight: 200;
}

hr {
    width: 100%;
    position: relative;
    padding: 0;
    border: 0;
}

hr:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
}

#divider {
    height: 0.5rem;
    line-height: 0.5rem;
}

#divider:before {
    width: 19%;
    background-color: #C8CCCF;
    height: 1px;
}

#icons {
    cursor: default;
    padding: 0;
    letter-spacing: 0;
    font-size: 1.5em;
    width: calc(100% + 1rem);
    margin-left: -0.5rem;
}

#icons li {
    display: inline-block;
    vertical-align: middle;
    margin: 0.5rem;
}

.icon-fb {
    color: #C8CCCF;
    border: solid 1px #C8CCCF;
    display: block;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0;
    border-radius: 100%;
    width: 2em;
    height: 2em;
    line-height: 2em;
}

.icon-fb:hover {
    color: #FF7496;
    border-color: #FF7496;
}

.fa {
    line-height: 2em;
}

#ul-buttons {
    cursor: default;
    padding: 0;
    letter-spacing: 0;
    width: calc(100% + 0.75rem);
    margin-left: -0.375rem;
}

#ul-buttons li {
    display: inline-block;
    vertical-align: middle;
    max-width: calc(100% - 0.75rem);
    margin: 0.375rem;
}

#ul-buttons li a {
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    max-width: 100%;
    display: block;
    width: auto;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1.25rem;
    text-transform: uppercase;
    font-size: 0.75em;
    font-family: 'Source Sans Pro';
    letter-spacing: 0.225rem;
    padding-left: calc(0.225rem + 1.25rem);
    font-weight: 200;
    border-radius: 0rem;
}

.button-enter {
    background-color: #77A1D4;
    color: #FFFFFF;
}

@media (max-width: 1680px) {
    html {
        font-size: 13pt;
    }
}

@media (max-width: 1280px) {
    html {
        font-size: 13pt;
    }
}

@media (max-width: 980px) {
    html {
        font-size: 11pt;
    }
}

@media (max-width: 736px) {
    html {
        font-size: 11pt;
    }
    #main > .inner {
        padding: 3rem 2rem;
    }
    #divider {
        height: 0.5rem;
        line-height: 0.5rem;
    }
}

@media (max-width: 480px) {
    #ul-buttons li a {
        width: auto;
    }
}

@media (max-width: 360px) {
    #main > .inner {
        padding: 2.5rem 1.25rem;
    }
    #icons {
        width: calc(100% + 0.75rem);
        margin-left: -0.375rem;
    }
    #icons li {
        margin: 0.375rem;
    }
    #ul-buttons {
        width: calc(100% + 0.5625rem);
        margin-left: -0.28125rem;
    }
    #ul-buttons li {
        max-width: calc(100% - 0.5625rem);
        margin: 0.28125rem;
    }
}